/out/
/resources/public/js/compiled/
/resources/public/firebase-init.js
/resources/public/index.html
/resources/public/css/output.css
/resources/public/images/clocks/*
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/shadow-cljs.edn
/.shadow-cljs/
.*
/target/**